In [3]:
from datetime import datetime, timedelta
import yfinance as yf
import pandas as pd

In [ ]:
#official starts here#####

In [1]:
# for bitcoin (BTC)

In [27]:
# 1min interval data for bitcoin-usd
btc_1m = yf.download(tickers = "BTC-USD" , interval = "1m", start="2021-05-01", end="2021-05-08")
btc_1m.to_csv('1m_btc.csv')
btc_1m

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2021-05-01 06:00:00+01:00,58090.585938,58090.585938,58090.585938,58090.585938,58090.585938,0
2021-05-01 06:01:00+01:00,58102.464844,58102.464844,58102.464844,58102.464844,58102.464844,0
2021-05-01 06:02:00+01:00,57978.636719,57978.636719,57978.636719,57978.636719,57978.636719,0
2021-05-01 06:03:00+01:00,58010.042969,58010.042969,58010.042969,58010.042969,58010.042969,0
2021-05-01 06:04:00+01:00,57925.429688,57925.429688,57925.429688,57925.429688,57925.429688,0
...,...,...,...,...,...,...
2021-05-08 05:55:00+01:00,58037.777344,58037.777344,58037.777344,58037.777344,58037.777344,28672
2021-05-08 05:56:00+01:00,58047.187500,58047.187500,58047.187500,58047.187500,58047.187500,0
2021-05-08 05:57:00+01:00,58035.878906,58035.878906,58035.878906,58035.878906,58035.878906,0
2021-05-08 05:58:00+01:00,58041.152344,58041.152344,58041.152344,58041.152344,58041.152344,0
2021-05-08 05:59:00+01:00,58080.804688,58080.804688,58080.804688,58080.804688,58080.804688,0

In [28]:
# 5min interval data for bitcoin-usd
btc_5m = yf.download(tickers = "BTC-USD" , interval = "5m", start="2021-04-01", end="2021-05-08")
btc_5m.to_csv('5m_btc.csv')
btc_5m

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2021-04-01 06:00:00+01:00,59095.675781,59130.832031,59076.429688,59076.429688,59076.429688,0
2021-04-01 06:05:00+01:00,59074.414062,59130.820312,59074.414062,59130.820312,59130.820312,50421760
2021-04-01 06:10:00+01:00,59153.109375,59171.652344,59123.585938,59123.585938,59123.585938,100417536
2021-04-01 06:15:00+01:00,59107.507812,59107.507812,59061.402344,59061.402344,59061.402344,42663936
2021-04-01 06:20:00+01:00,59045.898438,59045.898438,59025.460938,59025.460938,59025.460938,17637376
...,...,...,...,...,...,...
2021-05-08 05:35:00+01:00,58309.132812,58400.812500,58291.898438,58291.898438,58291.898438,0
2021-05-08 05:40:00+01:00,58296.710938,58296.710938,58240.277344,58240.277344,58240.277344,0
2021-05-08 05:45:00+01:00,58227.671875,58227.671875,58147.238281,58147.238281,58147.238281,0
2021-05-08 05:50:00+01:00,58069.046875,58087.472656,58062.082031,58084.269531,58084.269531,0
2021-05-08 05:55:00+01:00,58037.777344,58080.804688,58035.878906,58080.804688,58080.804688,0

In [ ]:
#for Ethereum (ETH)

In [23]:
# 1min interval data for ethereum-usd
eth_1m = yf.download(tickers = "ETH-USD" , interval = "1m", start="2021-05-01", end="2021-05-08")
eth_1m.to_csv('1m_eth.csv')
eth_1m

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2021-05-01 06:00:00+01:00,2844.666748,2844.666748,2844.666748,2844.666748,2844.666748,0
2021-05-01 06:01:00+01:00,2846.512695,2846.512695,2846.512695,2846.512695,2846.512695,0
2021-05-01 06:02:00+01:00,2840.295410,2840.295410,2840.295410,2840.295410,2840.295410,0
2021-05-01 06:03:00+01:00,2841.338135,2841.338135,2841.338135,2841.338135,2841.338135,0
2021-05-01 06:04:00+01:00,2838.657959,2838.657959,2838.657959,2838.657959,2838.657959,0
...,...,...,...,...,...,...
2021-05-08 05:55:00+01:00,3563.831543,3563.831543,3563.831543,3563.831543,3563.831543,0
2021-05-08 05:56:00+01:00,3563.111816,3563.111816,3563.111816,3563.111816,3563.111816,0
2021-05-08 05:57:00+01:00,3563.434082,3563.434082,3563.434082,3563.434082,3563.434082,217088
2021-05-08 05:58:00+01:00,3561.995850,3561.995850,3561.995850,3561.995850,3561.995850,0
2021-05-08 05:59:00+01:00,3562.646240,3562.646240,3562.646240,3562.646240,3562.646240,0

In [24]:
# 5min interval data for ethereum-usd
eth_5m = yf.download(tickers = "ETH-USD" , interval = "5m", start="2021-04-01", end="2021-05-08")
eth_5m.to_csv('5m_eth.csv')
eth_5m

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2021-04-01 06:00:00+01:00,1919.896851,1923.101196,1919.896851,1922.987549,1922.987549,0
2021-04-01 06:05:00+01:00,1922.384521,1922.384521,1921.422485,1922.059448,1922.059448,26142720
2021-04-01 06:10:00+01:00,1923.374878,1924.010498,1923.123413,1923.123413,1923.123413,44818432
2021-04-01 06:15:00+01:00,1922.830444,1922.830444,1920.332520,1920.332520,1920.332520,471040
2021-04-01 06:20:00+01:00,1919.344238,1919.344238,1918.899536,1918.899536,1918.899536,5908480
...,...,...,...,...,...,...
2021-05-08 05:35:00+01:00,3567.293701,3574.982666,3567.293701,3569.814941,3569.814941,0
2021-05-08 05:40:00+01:00,3568.785889,3571.547607,3568.785889,3571.547607,3571.547607,0
2021-05-08 05:45:00+01:00,3574.910889,3576.998291,3569.835449,3573.929932,3573.929932,0
2021-05-08 05:50:00+01:00,3573.296875,3573.296875,3565.013428,3567.100098,3567.100098,0
2021-05-08 05:55:00+01:00,3563.831543,3563.831543,3561.995850,3562.646240,3562.646240,0

In [ ]:
# for Dogecoin

In [40]:
# 1min interval data for dogecoin-usd
doge_1m = yf.download(tickers = "DOGE-USD" , interval = "1m", start="2021-05-01", end="2021-05-08")
doge_1m.to_csv('doge_1m.csv')
doge_1m

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2021-05-01 06:00:00+01:00,0.362049,0.362049,0.362049,0.362049,0.362049,0
2021-05-01 06:01:00+01:00,0.362517,0.362517,0.362517,0.362517,0.362517,25342464
2021-05-01 06:02:00+01:00,0.359991,0.359991,0.359991,0.359991,0.359991,0
2021-05-01 06:03:00+01:00,0.360444,0.360444,0.360444,0.360444,0.360444,11855872
2021-05-01 06:04:00+01:00,0.358728,0.358728,0.358728,0.358728,0.358728,379904
...,...,...,...,...,...,...
2021-05-08 05:56:00+01:00,0.732105,0.732105,0.732105,0.732105,0.732105,59602944
2021-05-08 05:57:00+01:00,0.733294,0.733294,0.733294,0.733294,0.733294,36407296
2021-05-08 05:58:00+01:00,0.737567,0.737567,0.737567,0.737567,0.737567,152117248
2021-05-08 05:59:00+01:00,0.736435,0.736435,0.736435,0.736435,0.736435,5865472
2021-05-09 06:24:03+01:00,0.549675,0.549675,0.549675,0.549675,0.549675,0

In [41]:
# 5min interval data for dogecoin-usd
doge_5m = yf.download(tickers = "DOGE-USD" , interval = "5m", start="2021-04-01", end="2021-05-08")
doge_5m.to_csv('./4_yahoo_api_data/doge_5m.csv')
doge_5m

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2021-04-01 06:00:00+01:00,0.053925,0.054012,0.053925,0.053936,0.053936,0
2021-04-01 06:05:00+01:00,0.053933,0.054009,0.053931,0.054009,0.054009,731968
2021-04-01 06:10:00+01:00,0.054046,0.054063,0.054046,0.054054,0.054054,0
2021-04-01 06:15:00+01:00,0.054036,0.054042,0.053988,0.053988,0.053988,0
2021-04-01 06:20:00+01:00,0.053973,0.053973,0.053937,0.053946,0.053946,0
...,...,...,...,...,...,...
2021-05-08 05:40:00+01:00,0.715906,0.718808,0.715906,0.718122,0.718122,0
2021-05-08 05:45:00+01:00,0.717612,0.724660,0.715851,0.724660,0.724660,101236736
2021-05-08 05:50:00+01:00,0.722934,0.731080,0.722934,0.731080,0.731080,237303808
2021-05-08 05:55:00+01:00,0.730473,0.737567,0.730473,0.736435,0.736435,357638144
2021-05-09 06:25:03+01:00,0.551771,0.551771,0.551771,0.551771,0.551771,0

In [ ]:
# For the stock market index NZX50

In [30]:
nz_1m = yf.download(tickers = "^NZ50" , interval = "1m", start="2021-05-03", end="2021-05-10")
nz_1m.to_csv('./4_yahoo_api_data/nz_1m.csv')
nz_1m

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2021-05-04 10:00:00+12:00,12773.440430,12773.440430,12773.440430,12773.440430,12773.440430,0
2021-05-04 10:01:00+12:00,12775.549805,12775.549805,12775.549805,12775.549805,12775.549805,0
2021-05-04 10:02:00+12:00,12777.660156,12777.660156,12777.660156,12777.660156,12777.660156,0
2021-05-04 10:03:00+12:00,12776.980469,12776.980469,12776.980469,12776.980469,12776.980469,0
2021-05-04 10:04:00+12:00,12778.419922,12778.419922,12778.419922,12778.419922,12778.419922,0
...,...,...,...,...,...,...
2021-05-10 16:41:00+12:00,12637.070312,12637.070312,12637.070312,12637.070312,12637.070312,0
2021-05-10 16:42:00+12:00,12640.009766,12640.009766,12640.009766,12640.009766,12640.009766,0
2021-05-10 16:43:00+12:00,12639.669922,12639.669922,12639.669922,12639.669922,12639.669922,0
2021-05-10 16:44:00+12:00,12638.759766,12638.759766,12638.759766,12638.759766,12638.759766,0
2021-05-10 16:45:00+12:00,12634.719727,12634.719727,12634.719727,12634.719727,12634.719727,0

In [31]:
nz_5m = yf.download(tickers = "^NZ50" , interval = "5m", start="2021-04-01", end="2021-05-10")
nz_5m.to_csv('./4_yahoo_api_data/nz_5m.csv')
nz_5m

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2021-04-06 10:00:00+12:00,12490.030273,12490.830078,12480.660156,12484.150391,12484.150391,0
2021-04-06 10:05:00+12:00,12485.889648,12497.709961,12485.889648,12494.889648,12494.889648,0
2021-04-06 10:10:00+12:00,12495.440430,12495.440430,12470.969727,12474.040039,12474.040039,0
2021-04-06 10:15:00+12:00,12476.540039,12484.679688,12476.070312,12484.679688,12484.679688,0
2021-04-06 10:20:00+12:00,12485.299805,12485.530273,12480.190430,12480.190430,12480.190430,0
...,...,...,...,...,...,...
2021-05-10 16:25:00+12:00,12639.030273,12641.629883,12630.809570,12630.809570,12630.809570,0
2021-05-10 16:30:00+12:00,12632.919922,12636.019531,12629.959961,12629.959961,12629.959961,0
2021-05-10 16:35:00+12:00,12632.790039,12638.919922,12630.820312,12638.080078,12638.080078,0
2021-05-10 16:40:00+12:00,12641.250000,12641.250000,12637.070312,12638.759766,12638.759766,0
2021-05-10 16:45:00+12:00,12634.719727,12634.719727,12634.719727,12634.719727,12634.719727,0

## To match the timestamp of bitcoin's sentiment score, we work on the time stamp and convert it to UTC in below

In [ ]:
#use 'dt' as datatimes

In [115]:
# For nz_1m
doge_1m =pd.read_csv('./4_yahoo_api_data/nz_1m.csv')
nz_1m['dt']=pd.to_datetime(nz_1m.Datetime,format='%Y-%m-%d %H:%M')
nz_1m['dt'] = nz_1m['dt'] - timedelta(hours=12)
nz_1m['dt']=nz_1m['dt'].dt.tz_localize(None)
nz_1m['times'] = pd.to_datetime(nz_1m['dt'])
nz_1m['times'] = nz_1m['times'].dt.time
mask =(nz_1m['times'].astype(str) > '22:00')
nz_1m=nz_1m.loc[mask]
nz_1m.to_csv('./4_yahoo_api_data/nz_1m_new.csv')

In [112]:
# For doge_1m
doge_1m =pd.read_csv('./4_yahoo_api_data/doge_1m.csv')

doge_1m['dt']=pd.to_datetime(doge_1m.Datetime,format='%Y-%m-%d %H:%M')
doge_1m['dt'] = doge_1m['dt'] - timedelta(hours=1)
doge_1m['dt']=doge_1m['dt'].dt.tz_localize(None)
doge_1m['times'] = pd.to_datetime(doge_1m['dt'])
doge_1m['times'] = doge_1m['times'].dt.time
mask =(doge_1m['times'].astype(str) > '22:00')
doge_1m=doge_1m.loc[mask]
doge_1m.to_csv('./4_yahoo_api_data/doge_1m_new.csv')

In [119]:
#For eth_1m
eth_1m=pd.read_csv('./4_yahoo_api_data/1m_eth.csv')

eth_1m['dt']=pd.to_datetime(eth_1m.Datetime,format='%Y-%m-%d %H:%M')
eth_1m['dt'] = eth_1m['dt'] - timedelta(hours=1)
eth_1m['dt']=eth_1m['dt'].dt.tz_localize(None)
eth_1m['times'] = pd.to_datetime(eth_1m['dt'])
eth_1m['times'] = eth_1m['times'].dt.time
mask =(eth_1m['times'].astype(str) > '22:00')
eth_1m=eth_1m.loc[mask]
eth_1m.to_csv('./4_yahoo_api_data/eth_1m_new.csv')

In [120]:
#For bitcoin 1m
btc_1m = pd.read_csv('./ALL_other_data/btc/1m_btc.csv')

btc_1m['dt']=pd.to_datetime(btc_1m.Datetime,format='%Y-%m-%d %H:%M')
btc_1m['dt'] = btc_1m['dt'] - timedelta(hours=1)
btc_1m['dt']=btc_1m['dt'].dt.tz_localize(None)
btc_1m['times'] = pd.to_datetime(btc_1m['dt'])
btc_1m['times'] = btc_1m['times'].dt.time
mask =(btc_1m['times'].astype(str) > '22:00')
btc_1m=btc_1m.loc[mask]
btc_1m.to_csv('./4_yahoo_api_data/btc_1m_new.csv')

## Then,manually check the csv file, to make sure we left data for 2021-05-04 to 2021-05-07, and give them new name

### btc_1m_new.csv  -> final_btc.csv;
### eth_1m_new.csv  -> final_eth.csv;
### doge_1m_new.csv -> final_doge.csv;
### nz_1m_new.csv -> final_NZindex.csv;